@font-face {
    font-family: robo;
    src: url(/fonts/Roboto-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: hsl(0, 43%, 93%);
    font-family: robo;

}

img {
    max-width: 90%;
    height: auto;

}

#conTainEr {
    position: relative;
    width: 95%;
    margin: 20px auto;
    background-color: blueviolet;
    height: 80vh;
}

#secConT {
    height: calc(100vh - 80vh);
    background-color: coral;
}

.heAdConT #naVigate {
    background-color: rgb(95, 42, 22);
    width: 95%;
    margin: 5px auto;
}

#naVigate ul {

    display: flex;
    justify-content: center;

    align-items: center;
    list-style: none;
    background: rgb(2, 0, 36);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%); */
    height: 20vh;
}

#naVigate ul li {
    text-align: center;
    flex-basis: 100px;
    padding: 15px;
    margin-bottom: 25px;
    color: wheat;

}

li:nth-child(2n) {
    /* clear: left; */
    /* overflow: hidden; */
    font-size: larger;
    /* background-color: rgb(68, 172, 68); */
}

#naVigate ul>li {
    /* margin-right: 2px; */
    /* border: 1px solid red; */
    /* background-color: cyan; */
    /* float: left; */
    /* overflow: hidden; */
}

/* #naVigate::after{
    clear: both;
    content: "";
    display: block;
} */
ul::after {
    content: '';
    display: block;
    clear: left;
}

li:nth-last-child(2) {
    position: absolute;
    border-top: solid rebeccapurple;
    border-bottom: solid rebeccapurple;
    /* border: */
    border-radius: 150px;
    right: calc(-95% + 1200px);
    top: 15px;
    color: wheat;
    float: right;
    font-weight: 800;
    overflow-y: hidden;
}


li:nth-child(2) {
    color: crimson;
    font-family: robo;
    animation: colorV 3s infinite alternate;
    /* transition: color 2s ease infinite; */
}

@keyframes colorV {
    from {
        /* left: 5px; */
        color: red;
        /* font-size: medium; */
        /* background-color: chartreuse; */
        /* overflow: hidden; */
    }

    to {
        /* left:25px;     */
        color: hsl(328, 58%, 6%);
        font-size: x-large;
        font-weight: bold;
        /* background-color: cyan; */
        /* overflow: hidden; */
    }
}